<div class="row">
    <table class="table table-borderless">
        <tbody>
            <tr>
                <td>
                    <img class="space" src={{car.image}}>
                </td>
            </tr>
            <tr>
                <td>Marca:</td>
                <td>{{car.make}}</td>
            </tr>
            <tr>
                <td>Submarca:</td>
                <td>{{car.model}}</td>
            </tr>
            <tr>
                <td>Fecha programada:</td>
                <td>{{car.estimatedate}}</td>
            </tr>
            <tr>
                <td>Kilometraje Actual:</td>
                <td>{{car.km}}</td>
            </tr>
            <tr>
                <td>Descripción:</td>
                <td>{{car.description}}</td>
                
            </tr>
            <tr>
                <td>Identificador de vehículo:</td>
                <td>{{car.id}}</td>
            </tr>
        </tbody>
      </table>
</div>